.board-row {
  display: flex;
}

body, button {
  font-family: 'Space Mono', monospace;
  font-size: 20px;
}

button {
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: darkorange;
  color: white;
}

#content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.game-counters {
  width: 261px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding: 30px 0 20px;
}

.game-over {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-width: 2px;
  background-color: lightgray;
}

.tile.unexplored {
  border-style: outset;
}

.tile.explored {
  border-style: inset;
}

.tile.flagged, p span {
  color: red;
}
